* {
  margin: 0;
}

.debug{
  background:red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  --background: #f4f5f7;
  --content-width: 975px;
  --border-color: rgb(219, 219, 219);
  background-color:
    #fafafa;
  ;


}


.safeArea {
  padding: 20px env(safe-area-inset-right, 20px)
  max(10px, env(safe-area-inset-bottom, 20px)) env(safe-area-inset-left, 20px);
  background:black;
}

html,
body {
  /* overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: auto;
  touch-action:none;
  background: green; */
}


@font-face {
  font-family: Logo;
  src: url(./assets/fonts/PaarfitLogo.ttf);
}

.container {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
}


/* .app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
} */